div {
  border: 5px solid rgb(92, 7, 7);
  width: 1024px;
  padding: 0 20px;
  margin: auto;
  background-color: linen;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: rgb(119, 6, 29);
  font-size: 36px;
}

ol li {
  font-weight: bolder;
}

ol > li {
  margin-bottom: 2em;
}

a:visited {
  color: purple;
}

a {
  color: blue;
}

table {
  border: 2px solid black;
  width: 95%;
}

thead {
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: gray;
}

thead,
td,
th {
  border: 1px solid black;
}

thead:first-child {
  background-color: rgb(189, 156, 156);
}

tr {
  cell-color: whitesmoke;
}

table td:first-child {
  text-align: center;
}
